body {
  background-color: #d3d3d3;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

.navbar {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.5rem;
}

img {
  border-radius: 8px;
}

h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.6rem;
  font-size: 2rem;
}

.table {
  margin-bottom: 3rem;
  border: 1.5px solid	var(--bs-light);
}